body {
  background-image:url(../../../img/vrs.jpg);
   background-position: top;
    background-size: auto; 
     background-repeat: repeat;
}



panel {
  margin: -28px -25px 25px;
  padding: 15px 25px;
  line-height: 30px;
  font-size: 12px;
  font-weight: 500;
  color: #ADADAD;
  text-align:center;
  background: #f7f7f7;
}


select{
  width: 200px;
  height: 20px;
  margin-bottom: 25px;
  padding-left:10px;
  font-size: 10px;
  font-style: italic;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input, textArea {
  width: 230px;
  height: 20px;
  margin-bottom: 25px;
  padding-left:10px;
  font-size: 15px;
  font-style: italic;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}



text, label{
    font-family: fantasy;
    font-style: italic;
    font-size: 12px;
}

#datalist {
   height:150px;
   overflow:auto;
   font-size: 15px;
   font-style: italic;
}

#n_p_id{
  width: 100px;
  height: 20px;
  margin-bottom: 25px;
  padding-left:10px;
  font-size: 15px;
  font-style: italic;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#listBox{
  width: 95%;
  margin-bottom: 25px;
  padding-left:10px;
  font-size: 15px;
  font-style: italic;  
}

button {
  width: 100%;
  height: 30px;
  padding: 0;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background: #f0776c;
  
  border-radius: 5px;
  cursor: pointer; 
  outline:0;
  color: #f0776c;
}

.opr{
  width: 540px;
  height: 30px;
  padding: 0;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background: #f7f7f7;
  
  border-radius: 5px;
  cursor: pointer; 
  outline:0;
  color: #000000;
}


#overL, #overC{
    height: 310px;
}


