body {
  background-image:url(../../../img/charge.png);
   background-position: center;
    background-size: cover; 
     background-repeat: repeat;
}




panel {
  margin: -28px -25px 25px;
  padding: 15px 25px;
  line-height: 30px;
  font-size: 13px;
  font-weight: 500;
  color: #ADADAD;
  text-align:center;
  background: #f7f7f7;
 
}


input, textArea  {
  width: 160px;
  height: 20px;
  margin-bottom: 25px;
  padding-left:10px;
  font-size: 13px;
  font-style: italic;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}



text, label{
    font-family: fantasy;
    font-style: italic;
    font-size: 13px;
}


button {
  width: 180px;
  height: 30px;
  padding: 0;
  font-size: 50px;
  color: #fff;
  text-align: center;
  background: #f0776c;
  
  border-radius: 5px;
  cursor: pointer; 
  outline:0;
  color: #f0776c;
}

